/* Header Styles */
/* @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:Marcellus; */
  font-style: normal;
  font-weight: normal;
}

header {
  background-color: black;
}
body {
  background-color: #f5f5f5;
  box-sizing: border-box;
  font-size: 16px;
}

.contenedor-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo-header {
  align-items: center;
  color: ivory;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-left: 2rem;
}

.logo-header h1 {
  font-size: 4.5rem;
  margin: 2rem 0;
}
.logo-header i {
  font-size: 3rem;
}

.nav-header {
  display: flex;
  gap: 2rem;
}

.nav-header a {
  color: ivory;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}

.nav-header a:hover {
  color: #ed8600;
}

nav a {
  text-decoration: none;
}

a,
p {
  text-decoration: none;
}

div p {
  font-weight: lighter;
}

#contenedor-maqueta {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 40px;
}

aside {
  margin-right: 40px;
  margin-top: 50px;
  max-width: 225px;
}

main {
  width: 70%;
}

.titulos-seccion {
  font-size: 2.8rem;
  color: #ed8600;
  text-align: center;
  text-decoration: underline overline;
}
.titulos-seccion::before {
  content: "~";
}

.titulos-seccion::after {
  content: "~";
}
.contenedorm {
  padding: 3.75rem 0;
  width: 100%;
  margin: auto;
}
.contenedorm-nuestro-servicio {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.875rem;
}

.contenedorm-nuestro-servicio img {
  flex-basis: 38%;
  min-height: 50px;
}

li {
  line-height: 2.5rem;
  font-size: 1.3rem;
}
.contenedor-directorio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1.25rem;
  align-items: center;
  gap: 1.875rem;
}

.row-directorio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  width: 100%;
}
.col-1 {
  min-width: 150px;
  width: 30%;
  height: auto;
  margin-bottom: 0.1875rem;
  padding-bottom: 0.4375rem;
  margin-left: 0.0938rem;
  margin-right: 0.0938rem;
  background: #eeebe9;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.col-1 img {
  width: 13.875rem;
  height: 9.5rem;
}

.col-1 p {
  text-align: center;
  font-weight: lighter;
}
.col-1 h4 {
  text-align: center;
  font-weight: bold;
  margin-top: 0.375rem;
  letter-spacing: 0.1875rem;
}

.btns {
  background: #ed8600;
  color: white;
  border-radius: 1.875rem;
}

.btns:hover {
  background: black;
}
.btns.carros {
  padding: 0.3125rem 0.9375rem;
}

.btns.directorio {
  padding: 0.3125rem 1.875rem;
  font-size: 1.5rem;
}

.contenedor-consejos {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.col-2 {
  padding: 30px;
  width: 30%;
  min-width: 200px;
  height: auto;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 3px;
  background: gainsboro;
  border-radius: 5px;
}
.col-2 h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 1.3rem;
}

.col-2 p {
  text-align: justify;
  font-size: 1.1rem;
}

.contenedor-suscribirse {
  height: 130px;
  max-width: 700px;
  background: #c06f04;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.titulo-suscribirse {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #c06f04;
  margin-top: 30px;
  font-size: 3rem;
}

#i-email-suscribirse {
  width: 70%;
  min-width: 250px;
  height: 30px;
  padding-left: 10px;
  font-size: 1.125rem;
  outline: none;
  border-radius: 9px;
}
#btn-suscribirse {
  margin-left: 5px;
  width: 20%;
  height: 30px;
  top: 50%;
  cursor: pointer;
  border-radius: 9px;
  border: 1px solid #505050;
  font-size: 1.125rem;
  outline: none;
  border-radius: 9px;
  outline: none;
  background: rgb(168, 167, 167);
  text-align: center;
}

#btn-suscribirse:hover {
  background: grey;
}

#contenedor-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contenedor-aside a,
p {
  font-size: 1.1rem;
}

#contenedor-aside h4 {
  font-size: 1.8rem;
}

#contenedor-Noticias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.elementos-noticias {
  width: 99%;
  height: fit-content;
  border: 1px solid #ed8600;
  background-color: rgb(238, 203, 190);
  margin: auto;
}

.elementos-noticias:hover {
  background: #ed8600;
}

.a-noticias {
  text-align: center;
  margin: auto;
  color: black;
  margin: auto;
  line-height: 0.1px;
}

#contenedor-reserva {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.reserva {
  padding: 5px;
}

/* footer */
.footer {
  margin-top: 3rem;
  background-color: black;
}

.footer a {
  margin-left: 0;
}

.contenedor-footer {
  color: white;
  padding: 1rem;
  text-align: center;
}

.contenedor-footer p {
  margin: 2rem 0 0 0;
}

.nombre-cat {
  font-size: 1.4rem;
}

.textblock {
  line-height: 1.2;
}

/*Formulario*/
.Formulario {
  margin-top: 50px;
}

#main-formulario {
  width: 100%;
}

#contenedor-formulario {
  width: 75%;
  margin: 15%;
}
#campos-ingreso {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  background-color: rgb(245, 243, 243);
  margin-left: auto;
  margin-right: auto;
  max-width: 430px;
}

#form-renta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 430px;
}

.campos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.4rem;
  justify-content: center;
  align-items: center;
}

.campos label {
  font-size: 1.1rem;
  align-self: flex-start;
}

.campos input {
  font-size: 0.9rem;
  width: 80%;
  height: 1.4rem;
  padding-left: 2rem;
  border: 2px solid gray;
  border-radius: 2px;
}

.campos input[type="radio"] {
  width: auto;
}

.campos input[type="date"] {
  padding: 0;
}

.campos select {
  font-size: 0.9rem;
  width: 80%;
  height: 1.4rem;
  padding: 0rem;
  border: 2px solid gray;
  border-radius: 2px;
}

#rdbuttongenero {
  gap: 18px;
  display: flex;
  flex-direction: row;
}

.fechas {
  width: 100%;
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
}

.fechas input {
  margin-left: 40px;
}

#privacidad {
  margin-top: 15px;
}

#privacidad label {
  font-weight: bold;
  font-style: italic;
}

#botones {
  margin-top: 25px;
}

#botones input {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0.625rem;
}

#boton-enviar {
  background-color: #ed8600;
  border: 1px solid;
}
#boton-limpiar {
  border: 1px solid;
}

.imgagregada {
  height: 10rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.mensajeError {
  color: rgb(103, 0, 0);
  font-size: 11px;
  background-color: rgba(248, 0, 12, 0.438);
  font-style: italic;
  margin-top: 5px;
}

@media only screen and (max-width: 415px) {
  #renta-autos {
    font-size: 9px;
  }
}

@media only screen and (max-width: 650px) and (min-width: 415px) {
  #renta-autos {
    font-size: 11px;
  }
}

.ulista {
  list-style-type: square;
}

.contenedor-Introduccion {
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 25%;
}

.contenedor-h1-introduccion {
  margin: 1rem;
  height: 3.75rem;
}

h1.Introduccion-descripcion {
  font-size: 2.2rem;
  color: #ed8600;
  font-style: italic;
  line-height: 2rem;
}

#tabla-contenedor {
  margin: 35px auto;
  width: 70%;
}
table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: solid 1px black;
}

th,
td {
  padding: 10px;
}

thead {
  background-color: #c06911;
  color: white;
  border-bottom: solid 5px black;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.button {
  border: solid 1px black;
  padding: 5px;
  border-radius: 2px;
  margin: 2px;
}

#buttonEditar {
  background-color: #ffd561;
}

#buttonEliminar {
  background-color: #fa7b7b;
}

#buttonAgregar {
  margin-top: 5px;
  background-color: #2563eb;
  color: white;
}
#botonfinal {
  display: flex;
  justify-content: center;
}

.titulos-seccion {
  font-size: 2.8rem;
  color: #ed8600;
  text-align: center;
  text-decoration: underline overline;
}
.Formulario {
  margin-top: 50px;
}

#main-formulario {
  width: 100%;
}

#contenedor-formulario {
  width: 75%;
  margin: 5px auto;
}
#campos-ingreso {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  background-color: rgb(245, 243, 243);
  margin-left: auto;
  margin-right: auto;
  max-width: 430px;
}

#form-renta {
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 430px;
}

.campos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.4rem;
  justify-content: center;
  align-items: center;
}

.campos label {
  font-size: 1.1rem;
  align-self: flex-start;
}

.campos input {
  font-size: 0.9rem;
  width: 80%;
  height: 1.4rem;
  padding-left: 2rem;
  border: 2px solid gray;
  border-radius: 2px;
}

.campos input[type="radio"] {
  width: auto;
}

.campos input[type="date"] {
  padding: 0;
}

.campos select {
  font-size: 0.9rem;
  width: 80%;
  height: 1.4rem;
  padding: 0rem;
  border: 2px solid gray;
  border-radius: 2px;
}

#botones {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0.4rem;
}

#boton-enviar {
  background-color: #ed8600;
  border: 1px solid;
  margin-left: 30px;
}
