  
.columna h2{
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    font-weight: bold;
    color:black;
    text-align: center;
    margin: 0;
    font-weight: bold; 
     
}
.galeria img{
    height: 575px;
    width: 100%;
    padding: 0.5%;
    
}



/* Header Styles */
header {
    background-color: black;
}

.contenedor-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-header{
    align-items: center;
    color: var(--secondary);
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-left: 2rem;
    color: white;
}

.logo-header h1{
    font-size: 4.5rem;
    margin: 2rem 0;
    
}
.logo-header i{
    font-size: 3rem;
    
}

.nav-header{
    display: flex;
    gap: 2rem;
    color: white;
    
}

.nav-header a{
    color: var(--secondary);
    font-size: 1.3rem;
    transition: color .2s ease;
   
    
}

.nav-header a:hover{
    color: var(--primary);
    
}
/* footer */
.footer{
    margin-top: 3rem;
    background-color:black;
    color: white;
}

.footer a{
    margin-left: 0;
}

.contenedor-footer{
    color: var(--secondary);
    padding: 1rem;
    text-align: center;
    
    
}

.contenedor-footer p{
    margin: 2rem 0 0 0;
}
/*fin*/

.titulo{
    font-size: 40px;
    text-align: center;   
    padding: 0.3%;  
}
.subtitulo p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
   
}
.subtitulo{
    color: black;  
    font-style: normal;
    font-weight: 400;
    background-color: #ED8600;
    font-weight: bold;

}
/*Maquetacion display: inline-block*/
.destinos img{
    height: 250px;
    width: 400px;
}
.destinos{
    margin: 1%;
    display: inline-block;
    margin-right: 1%;
}
/*fin*/
 figcaption{
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 15px;
    text-align: center; 
    font-weight: bold;  
}
.imagen {
    width: 100%;
    margin: 80px auto;
    display: flex;
    position: relative;
    margin: 0%; 
}
.imagen img {
    width: 100%;
    height: 425px;
    position: relative;
    justify-content: center;
    padding: 0.5%;
}

.txt{  
    text-align: center;
    position:absolute;  
}
.txt h2{
    font-size: 50px;
    color: #ED8600;  
    font-weight: bold; 
    margin: 2%;     
}
.txt p{
    font-size: 25px;
    text-align: center;
    color: white;  
    font-weight: bold;
    margin:5%   
    
}  
.txt a{
    padding: 0.5rem 2rem;
    font-size: 17px;
    font-weight: bold;  
    border-radius: 10px;
    cursor: pointer;
    background-color: #ED8600;
    color: white;
}

.mundo{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-weight: bold; 
     
}
.mundo h3{
    margin: 1%;
    font-size: 40px;
}
.mundo p{
    font-size: 20px;
}
/*Maquetacion display: inline*/
.region img{
    width: 350px;
    height: 400px;
    display: inline;
    margin: 1%;
}
/*fin*/

.reserva a{
    padding: 0.9rem 2rem;
    font-size: 17px;
    font-weight: bold;  
    border-radius: 10px;
    cursor: pointer;
    background-color: #ED8600;
    color: white;  
}
.reserva a:hover{
    background-color: black;
}
.txt a:hover{
    background-color: black;
}



/*Formulario*/

.formu{
    padding: 1rem 0;
    background-color: #e7e2e2;
    margin:1%;  
}
.formulario h3{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;  
    font-size: 30px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
}
.field{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0.5rem 0;

}
.field label{
    font-size: 1rem;
    margin-bottom: 0.2rem;
    color: black;
}
.field input{
    font-size: 1rem;
    height: 2.6rem;
    width: 70%;
    padding-left: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.field select{
    font-size: 1rem;
    width: 70%;
    height: 2.6rem;
    padding-left: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.textbox{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0.75rem 0;

}
.textbox label{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: black;
}
textarea{
    font-size: 1rem;
    height: 10rem;
    width: 25rem;
    max-height: 15rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    border: 2px solid black;
    border-radius: 5px;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 30rem;
    margin:0.75rem 0;
   
   
}
.informacion label{
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: black;
          
}
.informacion div{
    display: flex;
    flex-direction:column;
    padding-left: 0.5rem; 
}


.informacion div input{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    color: #ED8600; 
    
}
.privacidad {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;  
}

.submit{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.submit button{
    padding: 0.5rem 2rem;
    font-size: 17px;
    font-weight: bold;  
    border-radius: 10px;
    cursor: pointer;
    background-color: #ED8600;
    color: white;
 
}
.submit button:hover{
    background-color: black;
}
/*Validacion de Formulario*/

.field.falla input{
    border: 0.1px solid;
    border-color: #ED8600;
}
.field.falla select{
    border: 0.1px solid;
    border-color: #ED8600;
}
.field p{
    visibility: hidden;
    font-size: small;
    font-weight: 500;
    text-align: left;
}
.field.falla p{
    visibility: visible;
    color: #ED8600;

}
.buton{
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-weight: bold;  
    border-radius: 10px;
    cursor: pointer;
    background-color: #ED8600;
    color: white;
    margin-left: 43%;
    margin-right: auto;

}
.reservas a{
    border: 1px solid #ED8600  ;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 20px;
    padding: 3px;
    background-color: #ED8600 ;
    color: white;
    
}
.reservas a:hover{
    background-color: black ;
    
}
.boton{
    padding: 5px;
    font-size: 17px;
    font-weight: bold;  
    border-radius: 5px;
    cursor: pointer;
    background-color: #ED8600;
    color: white; 

}
.boton button{
    font-weight: bold; 
}
.boton:hover{
    background-color: black;
}
.buton:hover{
     background-color: black;
}

/*tabla*/
.tabla{
    margin: 35px auto;
    width: 100%;
}
table {
    border: #b2b2b2 0.5px solid;
    margin: 0 auto;
    text-align: center;  
}
td, th {
    border: #b2b2b2 0.5px solid;
    height: 15px;
    padding: 12px;  
}
thead{
    background-color: #ED8600;
    
}






